<h1>Formulario procesado</h1>

<p>Su nombre es: <%= @name %></p>

<p>Su saludo es: <%= @saludo %></p>

<p>Su usuario ha sido registrado en la base de datos,
para cargarlo haga click <%= link_to "aqui", "/welcome/recuperar" %></p>